

.card-content {
  padding: 15px;
}

.card {
  margin: 0;
}

.row {
  margin: 0;
}

.logout {
  text-align: center;

  a {
    color: black;
    margin: 0 !important;
    transition: none !important;
  }
}

.mdi {
  font-size: inherit !important;
}

.mdi::before {
  padding-right: 10px;
}
