<div class="card">
  <div class="card-image">
    <img class="avatar" [src]="userAvatar">
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col s6 mdi mdi-account">{{user.firstName}} {{user.lastName}}</div>
    </div>
    <div class="row">
      <div class="col s6 mdi mdi-domain">{{user.organization}}</div>
    </div>
    <div class="row">
      <div class="col s6 mdi mdi-text">{{user.description}}</div>
    </div>
    <div class="card-action logout">
      <a class="btn grey lighten-5" href="/logout">Log Out</a>
    </div>
  </div>
</div>
