.terraform
*.tfstate*
Thumbs.db
.DS_Store
.gradle
.nextflow*
.db/
work/
build/
target/
out/
misc/
mysql-data/
**/bin/
.idea
*.iml
*.ipr
*.iws
*.log
.project
.settings
.classpath
**/build-info.properties
elb-logs/*
cloud-deployment
.vscode/*
.env
