@import "~src/assets/variables";


.spinner-border {
  color: $clr-running;
  font-size: 5px;
  width: 2.9rem;
  height: 2.9rem;
}

.workflow-status {
  vertical-align: text-top;

  &.succeed {
    color: $clr-succeed;
  }

  &.failed {
    color: $clr-failed;
  }

  &.failed {
    color: $clr-failed;
  }

  &.partial {
    color: $clr-partial;
  }
}

.status-icon {
  font-size: 3.5rem;
}

.live-off {
  color: $clr-failed;
}
