/* You can add global styles to this file, and also import other style files */
@import "./src/assets/variables";

html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  background-color: $body-background !important;
}

#layout {
  display: flex;
}

#navbar {
  height: 64px;
  background-color: $navbar-background;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  padding-top: 20px;
  padding-bottom: 20px;
}

#sidebar {
  position: sticky;
  top: 0;
  flex-grow: 1;
  align-self: flex-start;
  background-color: $sidebar-background;
  border-right: $sidebar-border;

  overflow-y: auto;
  height: 100vh;
}

#central {
  flex-grow: 5;
  min-height: 100%;
}

.toast {

  border: 1px solid transparent;
  border-radius: .25rem;

  &.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  &.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  &.alert-info {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }

}

h4 .preloader-wrapper.small {
  width: 2rem;
  height: 2rem;
}


nav {
  ul.dropdown-content {
    overflow: visible;

    li {
      cursor: default;
    }
  }
}

.workflow-tabs {
  .tabs {
    overflow: hidden;

    .tab {
      text-transform: none;
      margin-right: 8px;

      a {
        font-size: 1.2em;
      }

      a:not(.active) {
        border-bottom: 2px solid lightgrey;
        color: lightgrey;
      }

      a:hover {
        color: black;
        border-bottom: 2px solid grey;
      }

      a.active {
        color: black;
        font-weight: bold;
      }

      &.disabled a {
        color: lightgrey !important;
      }
    }

    .indicator {
      background-color: grey;
    }
  }
}

