/* You can add global styles to this file, and also import other style files */
@import "./src/assets/variables";

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;

  overflow-x: hidden;
  background-color: $body-background !important;
}

#navbar {
  width: 100%;
  height: $navbar-height;

  background-color: $navbar-background;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  padding-top: 20px;
  padding-bottom: 20px;
}

#layout {
  display: flex;
  min-height: calc(100% - #{$navbar-height});
  width: 100%;
}

#sidebar {
  position: sticky;
  top: 0;
  flex: 0 0 25%;

  background-color: $sidebar-background;
  border-right: $sidebar-border;

  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

#central {
  width: 100%;
  min-height: inherit;
  flex: 1 0 75%;
}

#notification-container {
  position: absolute;
  top: calc(#{$navbar-height} + 2px);
  right: 0;
}
