@import "~src/assets/variables";

.loading {
  background-color: #ffffff;
  background-image: url("~src/assets/loading.gif");
  background-size: 24px 24px;
  background-position: 94% center;
  background-repeat: no-repeat;
}

.form-group {
  margin: 0;
}

.wf-card-wrapper {
  height: calc(100vh - 123px);
  overflow-y: auto;
}
