
<div class="row no-gutters">
  <!-- Button to expand / collapse sidebar -->
  <div [class.col-2]="!sidebarCollapsed" [class.col-12]="sidebarCollapsed">
    <button class="btn btn-secondary mt-2 mr-1" (click)="collapseSidebar()" title="Collapse sidebar">
      <span class="mdi mdi-chevron-double-left" *ngIf="!sidebarCollapsed"></span>
      <span class="mdi mdi-chevron-double-right" *ngIf="sidebarCollapsed"></span>
    </button>
  </div>
  <!-- Workflow search input -->
  <div *ngIf="!sidebarCollapsed" class="col-10">
    <div class="form-group mt-2 ml-0">
      <input id="search" name="search" type="search" class="form-control" placeholder="Search..."
             [ngClass]="{'loading': isSearchTriggered}"
             [formControl]="searchBoxFormControl">
    </div>
  </div>
</div>

<!-- List of workflow cards -->
<div class="wf-card-wrapper">
  <wt-workflow-card *ngFor="let workflow of workflows"
                    [workflow]="workflow"
                    [currentWorkflowId]="currentId"
                    [sidebarCollapsed]="sidebarCollapsed"
                    (onDeleteWorkflow)="deleteWorkflow($event)"
                    (click)="showWorkflowDetail(workflow)" >
 </wt-workflow-card>
</div>

<div *ngIf="workflows.length == 0" class="alert text-center" role="alert">
  Nothing found
</div>
