@import "~src/assets/variables";

.loading {
  background-color: #ffffff;
  background-image: url("~src/assets/loading.gif");
  background-size: 24px 24px;
  background-position:right center;
  background-repeat: no-repeat;
}
