<wt-landing *ngIf="shouldShowLandingPage"></wt-landing>

<wt-navbar *ngIf="!shouldShowLandingPage"></wt-navbar>
<div *ngIf="!shouldShowLandingPage && !shouldShowLoadingScreen" id="layout">

  <div id="sidebar" *ngIf="shouldShowSidebar" (scroll)="onSidebarScroll($event)">
    <wt-sidebar [workflows]="workflows" (onDeleteWorkflow)="deleteWorkflow($event)"
                (onSearchingWorkflows)="searchWorkflows($event)">
    </wt-sidebar>

    <div class="row load-gap">
      <div *ngIf="isNextPageLoadTriggered" class="spinner-grow m-auto" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>

  <div id="central">
    <router-outlet></router-outlet>

    <wt-welcome *ngIf="shouldShowWelcomeMessage"></wt-welcome>
  </div>
</div>
<wt-loading [loadingText]="'Loading'" *ngIf="shouldShowLoadingScreen"></wt-loading>
