<wt-landing *ngIf="shouldLoadLandingPage"></wt-landing>

<wt-navbar *ngIf="!shouldLoadLandingPage"></wt-navbar>
<div *ngIf="!shouldLoadLandingPage" id="layout">

  <div id="sidebar" *ngIf="shouldLoadSidebar" (scroll)="onSidebarScroll($event)">
    <wt-sidebar [workflows]="workflows" (onDeleteWorkflow)="deleteWorkflow($event)"
                (onSearchingWorkflows)="searchWorkflows($event)">
    </wt-sidebar>

    <div class="row load-gap">
      <div *ngIf="isNextPageLoadTriggered" class="spinner-grow m-auto" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>


  </div>

  <div id="central">
    <router-outlet></router-outlet>

    <wt-welcome *ngIf="shouldLoadWelcomeMessage" ></wt-welcome>
  </div>
</div>
