@import "~src/assets/variables";

.card {
  cursor: pointer;
  border-left: solid 6px;
  border-radius: 2px;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0;
  width: $sidebar-width;

  :hover, :focus {
    background-color: #faf9f2;
  }

  &.collapsed {
    width: auto;

    // Stronger colour for a smaller area
    :hover, :focus {
      background-color: #fcf8de;
    }
  }

  p {
    font-size: 0.9em;
  }

  .card-content {
    margin-right: 2rem;
  }

  .sidebar-wf-icon {
    line-height: 1;
  }
}

.workflow--succeed {
  border-left-color: $succeed-green;

  .card-title, .sidebar-wf-icon {
    color: $succeed-green;
  }
}

.workflow--running {
  border-left-color: $running-blue;

  .card-title, .sidebar-wf-icon {
    color: $running-blue;
  }
}

.workflow--failed {
  border-left-color: $failed-red;

  .card-title, .sidebar-wf-icon {
    color: $failed-red;
  }
}

.workflow--partial {
  border-left-color: $partial-orange;

  .card-title, .sidebar-wf-icon {
    color: $partial-orange;
  }
}

.workflow--unknown {
  border-left-color: $failed-red;

  .card-title, .sidebar-wf-icon {
    color: $failed-red;
  }
}


div.btn-delete {
  position: relative;
  button { position: absolute; right: 0px; bottom: 0px; }
}
