@import "~src/assets/variables";

.card {
  cursor: pointer;
  margin: 5px 6px;
  border-left: solid 6px;
  border-radius: 2px;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0;

  p {
    font-size: 0.9em;
  }

  .card-content {
    margin-right: 2rem;
  }
}

.workflow--succeed {
  border-left-color: $succeed-green;

  .card-title {
    color: $succeed-green;
  }
}

.workflow--running {
  border-left-color: $running-blue;

  .card-title {
    color: $running-blue;
  }
}

.workflow--failed {
  border-left-color: $failed-red;

  .card-title {
    color: $failed-red;
  }
}

.workflow--partialFailed {
  border-left-color: $partialFailed-orange;

  .card-title {
    color: $partialFailed-orange;
  }
}

div.btn-delete {
  position: relative;
  button { position: absolute; right: 0px; bottom: 0px; }
}
