<div class="card" [ngClass]="{'workflow--succeed': workflow.isSuccessful, 'workflow--started': workflow.isStarted, 'workflow--failed': workflow.isFailed, 'workflow--partialFailed': workflow.isPartialFailed}">
  <div class="card-body">
    <h5 class="card-title">
      <span class="mdi" [ngClass]="{'mdi-check-circle-outline': workflow.isSuccessful, 'mdi-progress-check': workflow.isStarted, 'mdi-alert-circle-outline': workflow.isFailed || workflow.isPartialFailed}"></span>
      {{workflow.data.projectName}}
    </h5>
    <p class="mb-0"><span class="mdi mdi-run"></span> {{workflow.data.runName}}</p>
    <p class="mb-0"><span class="mdi mdi-clock-outline"></span> Duration: {{workflow.humanizedDuration}}</p>
    <p class="mb-0"><span class="mdi mdi-calendar"></span> Started: {{workflow.getWorkflowStartDateFormatted('ddd MMM D YYYY hh:mm:ss')}}</p>
    <p class="mb-0"><span class="mdi mdi-trash-can"> <a (click)="deleteWorkflow(workflow, $event)">delete</a> </span></p>
  </div>
</div>
