<div id="notification-container">
  <div *ngFor="let notification of notifications" id="notification-{{notification.id}}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="alert alert-dismissible" [ngClass]="{'alert-danger': notification.isError, 'alert-success': notification.isSuccess, 'alert-info': notification.isInfo}" role="alert">
      {{notification.message}}
      <button type="button" class="close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="mt-2"></div>
</div>
