<div id="notification-container">
  <div *ngFor="let notification of notifications" id="notification-{{notification.id}}" class="alert alert-dismissible text-center" role="alert"
       [ngClass]="{'alert-danger': notification.isError, 'alert-success': notification.isSuccess, 'alert-info': notification.isInfo}">
      {{notification.message}}
      <button type="button" class="close" aria-label="Close" (click)="removeNotificationFromCache(notification)">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>
