/* You can add global styles to this file, and also import other style files */

$navbar-height: 64px;

$thin-grey: #dee2e6;

$body-background: #f8f9fa;
$navbar-background: #343a40;
$sidebar-background: #fff;
$sidebar-border: 1px solid $thin-grey;

$started-blue: #199fdb;
$succeed-green: #28ae61;
$failed-red: #e7363e;
$partialFailed-orange: darkOrange;
$cached-grey: #939598;
$pending-purple: #8f4199;
$submitted-orange: #f57f27;
