<div class="container mt-5 w-50">

  <div class="card">
    <div class="card-header">
      Get started
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome in Nextflow Tower</h5>
      <p class="card-text">
        Nextflow Tower allows you to monitor the execution of any of your Nextflow data analysis pipelines.
      </p>

      <h6>1. Download latest version of Nextflow</h6>
      <p>
        To use Nextflow Tower download the latest Nextflow snapshot.
      </p>

      <h6>2. Set the Tower access token in your environment</h6>

      <pre class="p-3 bg-light text-dark">export TOWER_ACCESS_TOKEN={{user.data.userName}}:{{user.data.nfAccessToken}}</pre>

      <h6>3. Run Nextflow with Tower option</h6>
      <p>
        Launch nextflow as usual adding the -with-tower command line option
      </p>
      <pre class="p-3 bg-light text-dark">nextflow run hello -with-tower</pre>

      <h6>Enjoy it!</h6>

    </div>
  </div>
  
</div>
