<div class="container mt-5 w-50">

  <div class="card">
    <div class="card-header">
      Get started
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome in Nextflow Tower</h5>
      <p class="card-text">
        Launch your workflow and watch it on Tower! Just add the <code>-with-tower</code> option to your usual Nextflow command line.
      </p>
      <p class="card-text">
        Your access token is: <code>{{user.data.nfAccessToken}}</code>
      </p>
    </div>
  </div>
  
</div>
