
.welcome-message {
  font-size: 1.3em;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-primary {
    border-left-color: #007bff;
 }

.bd-callout-secondary {
    border-left-color: #6c757d;
}

.bd-callout-success {
    border-left-color: #28a745;
}

.bd-callout-warning {
    border-left-color: #ffc107;
}

.bd-callout-danger {
    border-left-color: #dc3545;
}

.bd-callout-info {
    border-left-color: #17a2b8;
}

.bd-callout-light {
    border-left-color: #f8f9fa;
}

.bd-callout-dark {
    border-left-color: #343a40;
}

.bd-callout-white {
    border-left-color: #fff;
}
