<div class="row">
  <div class="col s12">
    <div class="card grey lighten-5">
      <div class="card-content">
          <span class="card-title">
            <span class="mdi mdi-progress-check"></span> {{workflow.data.projectName}}
          </span>
        <p><span class="mdi mdi-run"></span> {{workflow.data.runName}}</p>
        <p><span class="mdi mdi-clock-outline"></span> Duration: <!--1h 23m 42s-->{{workflow.data.duration}}</p>
        <p><span class="mdi mdi-calendar"></span> Started: <!--Tue Apr 23 18:12:00-->{{workflow.data.startTime}}</p>
      </div>
    </div>
  </div>
</div>
