<div class="workflow-card row">
  <div class="col s12">
    <div class="card grey lighten-5" [ngClass]="{'workflow--succeed': workflow.isSuccessful, 'workflow--started': workflow.isStarted, 'workflow--failed': workflow.isFailed}">
      <div class="card-content">
          <span class="card-title">
            <span class="mdi" [ngClass]="{'mdi-check-circle-outline': workflow.isSuccessful, 'mdi-progress-check': workflow.isStarted, 'mdi-alert-circle-outline': workflow.isFailed}"></span> {{workflow.data.projectName}}
          </span>
        <p><span class="mdi mdi-run"></span> {{workflow.data.runName}}</p>
        <p><span class="mdi mdi-clock-outline"></span> Duration: {{workflow.humanizedDuration}}</p>
        <p><span class="mdi mdi-calendar"></span> Started: {{workflow.getWorkflowStartDateFormatted('ddd MMM D YYYY hh:mm:ss')}}</p>
      </div>
    </div>
  </div>
</div>
