@import "./src/assets/variables";

.workflow-card {
  cursor: pointer;
}

.workflow--succeed {
  border-left: $succeed-green solid 10px;

  .card-title {
    color: $succeed-green;
  }
}

.workflow--started {
  border-left: $started-blue solid 10px;

  .card-title {
    color: $started-blue;
  }
}

.workflow--failed {
  border-left: $failed-red solid 10px;

  .card-title {
    color: $failed-red;
  }
}
