@import "./src/assets/variables";

.workflow-card {
  cursor: pointer;

  .card-content {
    padding: 6px 12px 12px 12px;
    font-size: 0.9rem;
  }

  .card-title {
    font-size: 1.1rem;
    margin-bottom: 0.1rem;
  }
}

.workflow--succeed {
  border-left: $succeed-green solid 5px;

  .card-title {
    color: $succeed-green;
  }
}

.workflow--started {
  border-left: $started-blue solid 5px;

  .card-title {
    color: $started-blue;
  }
}

.workflow--failed {
  border-left: $failed-red solid 5px;

  .card-title {
    color: $failed-red;
  }
}
