
.welcome-message {
  text-align: center;
  font-size: 1.3em;
}


code {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #BCBEC0;
  padding: 2px;
  font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}
