.comment-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 25px 0;

  .comment-avatar {
    width: 8%;
    align-self: flex-start;

    a {
      display: block;
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      align-self: flex-start;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .message {
    width: 92%;
    margin-left: 1rem;
    border: 1px solid #d1d5da;
    border-radius: 3px;

    &-header {
      padding: 4px 9px;
      background-color: #f6f8fa;
      border-bottom: 1px solid #d1d5da;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .edit-delete-btns {
        display: flex;
        justify-content: space-between;
        justify-self: end;
        width: 35px;
        margin-right: 1rem;
        opacity: .6;

        .edit-btn, .delete-btn {
          display: block;
          background: none;
          border: none;
          opacity: .4;

          &:focus {
            outline: none;
          }
        }
      }
    }

    &-author {
      &-name {
        color: #586069;
      }
    }

    &-time {
      margin-left: 1.5rem;
      color: rgba(0, 0, 0, 0.3);
    }

    &-content {
      color: #24292e;
      font-family: inherit;
      font-size: 1rem;
      padding: 14px 9px;
      margin-bottom: 0;
      word-break: break-all;
      white-space: pre-line;

      &-text {

      }
    }

    &-deleted-comment {
      margin: 1rem;
      opacity: .6;
    }

    &-edit {
      margin: 1rem 1rem .3rem;

      .error {
        font-size: .9rem;
        color: #ff0000;
        padding: 5px 0;
      }

      textarea {
        width: 100%;
        padding: 5px;
        background-color: #fafbfc;
        border-radius: 3px;
        resize: none;
      }

      .btn-group-update-delete {
        display: flex;
        justify-content: flex-end;

        .btn-outline-danger {
          margin-right: .3rem;
        }
      }
    }
  }
}
