<div class="card">
  <div class="card-header">Status</div>
  <div class="card-body">
    <div class="row no-gutters">
      <div *ngFor="let status of statusesTags" class="col-6 col-lg-4 text-center">
        <div class="card m-2">
          <div class="card-body">
            <h2 class="card-title" data-toggle="tooltip" data-placement="auto"  title="{{progressState[status]}}">{{numOfTasksFor(status)}}</h2>
          </div>
          <div class="card-footer text-white" [ngClass]="status">{{status}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
