@import "./src/assets/variables";

.pending {
  background-color: $pending-purple;
}

.running {
  background-color: $running-blue;
}

.cached {
  background-color: $cached-grey;
}

.submitted {
  background-color: $submitted-orange;
}

.succeeded {
  background-color: $succeed-green;
}

.failed {
  background-color: $failed-red;
}
