<wt-navbar></wt-navbar>

<div id="layout">
  <div id="sidebar">
    <div class="sidebar-content">
      <div class="p-5 text-center">
        <small>Sidebar Content Here</small>
      </div>
      <div class="p-5 text-center">
        <small>Sidebar Content Here</small>
      </div>
      <div class="p-5 text-center">
        <small>Sidebar Content Here</small>
      </div>
      <div class="p-5 text-center">
        <small>Sidebar Content Here</small>
      </div>
      <div class="p-5 text-center">
        <small>Sidebar Content Here</small>
      </div>
      <div class="p-5 text-center">
        <small>Sidebar Content Here</small>
      </div>
      <div class="p-5 text-center">
        <small>Sidebar Content Here</small>
      </div>
      <div class="p-5 text-center">
        <small>Sidebar Content Here</small>
      </div>
      <div class="p-5 text-center">
        <small>Sidebar Content Here</small>
      </div>
      <div class="p-5 text-center">
        <small>Sidebar Content Here</small>
      </div>
      <div class="p-5 text-center">
        <small>Sidebar Content Here</small>
      </div>

    </div>
  </div>

  <div id="central">
    <div class="content-container">
      <div class="text-center d-flex align-items-center justify-content-center pt-5">
        <div>
          <img alt="Empty State" src="https://pipeline.mediumra.re/assets/img/empty-state.svg" class="w-50" style="opacity:.8" />
          <span class="h3 d-block mt-3">Content Here</span>
          <p>
            Add your page content here
          </p>
          <a class="btn btn-primary btn-sm" href="pages-layouts.html">Back to Page Layouts</a>
        </div>
      </div>

      <div class="text-center d-flex align-items-center justify-content-center pt-5">
        <div>
          <img alt="Empty State" src="https://pipeline.mediumra.re/assets/img/empty-state.svg" class="w-50" style="opacity:.8" />
          <span class="h3 d-block mt-3">Content Here</span>
          <p>
            Add your page content here
          </p>
          <a class="btn btn-primary btn-sm" href="pages-layouts.html">Back to Page Layouts</a>
        </div>
      </div>
      <div class="text-center d-flex align-items-center justify-content-center pt-5">
        <div>
          <img alt="Empty State" src="https://pipeline.mediumra.re/assets/img/empty-state.svg" class="w-50" style="opacity:.8" />
          <span class="h3 d-block mt-3">Content Here</span>
          <p>
            Add your page content here
          </p>
          <a class="btn btn-primary btn-sm" href="pages-layouts.html">Back to Page Layouts</a>
        </div>
      </div>
      <div class="text-center d-flex align-items-center justify-content-center pt-5">
        <div>
          <img alt="Empty State" src="https://pipeline.mediumra.re/assets/img/empty-state.svg" class="w-50" style="opacity:.8" />
          <span class="h3 d-block mt-3">Content Here</span>
          <p>
            Add your page content here
          </p>
          <a class="btn btn-primary btn-sm" href="pages-layouts.html">Back to Page Layouts</a>
        </div>
      </div>
      <div class="text-center d-flex align-items-center justify-content-center pt-5">
        <div>
          <img alt="Empty State" src="https://pipeline.mediumra.re/assets/img/empty-state.svg" class="w-50" style="opacity:.8" />
          <span class="h3 d-block mt-3">Content Here</span>
          <p>
            Add your page content here
          </p>
          <a class="btn btn-primary btn-sm" href="pages-layouts.html">Back to Page Layouts</a>
        </div>
      </div>
      <div class="text-center d-flex align-items-center justify-content-center pt-5">
        <div>
          <img alt="Empty State" src="https://pipeline.mediumra.re/assets/img/empty-state.svg" class="w-50" style="opacity:.8" />
          <span class="h3 d-block mt-3">Content Here</span>
          <p>
            Add your page content here
          </p>
          <a class="btn btn-primary btn-sm" href="pages-layouts.html">Back to Page Layouts</a>
        </div>
      </div>

    </div>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
