<div class="container mt-5">
  <h1 class="mb-4">User information</h1>

  <form class="needs-validation" [ngClass]="{'was-validated': isSubmitted}" novalidate #profileForm="ngForm" (ngSubmit)="update()">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" name="email" type="email" class="form-control" readonly email [(ngModel)]="userCopy.data.email">
      <div class="invalid-feedback">Should be an email</div>
    </div>
    <div class="form-group">
      <label for="userName">User name</label>
      <input id="userName" name="userName" type="text" class="form-control" readonly pattern="^[a-z\d](?:[a-z\d]|-(?=[a-z\d])){0,38}$" maxlength="39" [(ngModel)]="userCopy.data.userName">
      <div class="invalid-feedback" >Should only include lowercase alphanumeric and dash characters</div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="firstName">First name</label>
        <input id="firstName" name="firstName" type="text" class="form-control" maxlength="100" [(ngModel)]="userCopy.data.firstName">
        <div class="invalid-feedback">Max 100 characters long</div>
      </div>
      <div class="form-group col">
        <label for="lastName">Last name</label>
        <input id="lastName" name="lastName" type="text" class="form-control" maxlength="100" [(ngModel)]="userCopy.data.lastName">
        <div class="invalid-feedback">Max 100 characters long</div>
      </div>
    </div>
    <div class="form-group">
      <label for="avatar">Avatar</label>
      <input id="avatar" name="avatar" placeholder="URL" type="url" class="form-control" pattern="https?://.+" [(ngModel)]="userCopy.data.avatar">
      <div class="invalid-feedback">Should be a URL</div>
    </div>
    <div class="form-group">
      <label for="organization">Organization</label>
      <input id="organization" name="organization" type="text" class="form-control" maxlength="100" [(ngModel)]="userCopy.data.organization">
      <div class="invalid-feedback">Max 100 characters long</div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" type="text" class="form-control" maxlength="1000" [(ngModel)]="userCopy.data.description">
      </textarea>
      <div class="invalid-feedback">Max 1000 characters long</div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-switch">
        <input type="checkbox" name="notification" class="custom-control-input" id="customSwitch1"
               [(ngModel)]="userCopy.data.notification">
        <label class="custom-control-label" for="customSwitch1" *ngIf="!userCopy.data.notification">Enable email
          notifications</label>
        <label class="custom-control-label" for="customSwitch1" *ngIf="userCopy.data.notification">Disable email
          notifications</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn btn-primary btn-block" type="submit" name="action" [disabled]="!isSubmitEnabled()">Update
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <div class="card border-danger mt-3" >
          <div class="card-body">
            <h5 class="card-title">Danger zone</h5>
            <p class="card-text">
              Delete your account and all related records. This operation is not recoverable.

              <button class="btn btn-danger btn-block mt-3" type="button" name="action" data-toggle="modal" data-target="#delete-modal" [disabled]="isSubmitted">Delete your account</button>
            </p>
          </div>
        </div>

      </div>
    </div>
  </form>

  <div class="modal" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title">Delete account confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="delete-email">Please provide your user email to confirm the account deletion</label>
            <input id="delete-email" type="email" class="form-control" placeholder="Email" [(ngModel)]="confirmationDeleteEmail">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" [disabled]="!isUserDeletionEnabled()" (click)="delete()">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>
