<div class="card">
  <div class="card-header">Tasks</div>
  <div class="card-body">

    <div id="tasks-table-wrapper" >
    <!--Styling: https://datatables.net/manual/styling/classes-->
        <table id="tasks-table" class="display nowrap cell-border w-100">
          <thead>
          <tr>
            <th>task_id</th>
            <th>process</th>
            <th>tag</th>
            <th>hash</th>
            <th>status</th>
            <th>exit</th>
            <th>container</th>
            <th>native_id</th>
            <th>submit</th>
            <th>duration</th>
            <th>realtime</th>
            <th>% cpu</th>
            <th>% mem</th>
            <th>peak_rss</th>
            <th>peak_vmem</th>
            <th>rchar</th>
            <th>wchar</th>
            <th>vol_ctxt</th>
            <th>inv_ctxt</th>
            <th>workdir</th>
            <th>script</th>
            <th>name</th>
            <th>start</th>
            <th>complete</th>
            <th>read_bytes</th>
            <th>write_bytes</th>
            <th>syscr</th>
            <th>syscw</th>
            <th>env</th>
            <th>cpus</th>
            <th>memory</th>
            <th>time</th>
            <th>rss</th>
            <th>vmem</th>
            <th>attempt</th>
            <th>error_action</th>
            <th>executor</th>
            <th>machineType</th>
            <th>cloudZone</th>
            <th>priceModel</th>
            <th>cost</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
  </div>
</div>
