<div class="card">
  <div class="card-header">Tasks</div>
  <div class="card-body">

    <div id="tasks-table-wrapper" >
    <!--Styling: https://datatables.net/manual/styling/classes-->
        <table id="tasks-table" class="display nowrap cell-border w-100">
          <thead>
          <tr>
            <th>task_id</th>
            <th>process</th>
            <th>tag</th>
            <th>hash</th>
            <th>status</th>
            <th>exit</th>
            <th>container</th>
            <th>native_id</th>
            <th>submit</th>
            <th>duration</th>
            <th>realtime</th>
            <th>% cpu</th>
            <th>% mem</th>
            <th>peak_rss</th>
            <th>peak_vmem</th>
            <th>rchar</th>
            <th>wchar</th>
            <th>vol_ctxt</th>
            <th>inv_ctxt</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="taskDetailModal" tabindex="-1" role="dialog"
     aria-labelledby="task-details-modal" aria-hidden="true">
  <wt-task-details
    [workflowId]="workflowId"
    [taskId]="taskId"
  ></wt-task-details>
</div>
