<div class="card">
  <div class="card-header">Tasks</div>
  <div class="card-body">

    <div class="container">
    <!--Styling: https://datatables.net/manual/styling/classes-->
        <table id="tasks-table" class="display nowrap">
          <thead>
          <tr>
            <th>task_id</th>
            <th>process</th>
            <th>tag</th>
            <th>status</th>
            <th>hash</th>
            <th>allocated cpus</th>
            <th>%cpu</th>
            <th>allocated memory</th>
            <th>%mem</th>
            <th>vmem</th>
            <th>rss</th>
            <th>peak_vmem</th>
            <th>peak_rss</th>
            <th>allocated time</th>
            <th>duration</th>
            <th>realtime</th>
            <th>script</th>
            <th>exit</th>
            <th>submit</th>
            <th>start</th>
            <th>complete</th>
            <th>rchar</th>
            <th>wchar</th>
            <th>syscr</th>
            <th>syscw</th>
            <th>read_bytes</th>
            <th>write_bytes</th>
            <th>native_id</th>
            <th>name</th>
            <th>module</th>
            <th>container</th>
            <th>disk</th>
            <th>attempt</th>
            <th>scratch</th>
            <th>workdir</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
  </div>
</div>
