<div class="container">
  <div class="row">
    <div class="col s4 offset-s4">
      <h2 class="center-align">User profile</h2>
      <div class="row">
        <form class="col s12" #profileForm="ngForm" (ngSubmit)="update()">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" name="email" type="email" required email class="validate" [(ngModel)]="userCopy.data.email">
              <label for="email" data-error="Should be an email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="userName" name="userName" type="text" required pattern="[^\s]+"  class="validate" [(ngModel)]="userCopy.data.userName">
              <label for="userName" data-error="No blanks allowed">User name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="firstName" name="firstName" type="text" class="validate" [(ngModel)]="userCopy.data.firstName">
              <label for="firstName">First name</label>
            </div>
            <div class="input-field col s6">
              <input id="lastName" name="lastName" type="text" class="validate" [(ngModel)]="userCopy.data.lastName">
              <label for="lastName">Last name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="avatar" name="avatar" placeholder="URL" type="url" pattern="https?://.+" class="validate" [(ngModel)]="userCopy.data.avatar">
              <label for="avatar" data-error="Should be a URL">Avatar</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="organization" name="organization" type="text" maxlength="10" class="validate" [(ngModel)]="userCopy.data.organization">
              <label for="organization" data-error="Max 10 characters long">Organization</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="description" name="description" type="text" maxlength="10" class="validate" [(ngModel)]="userCopy.data.description">
              <label for="description" data-error="Max 10 characters long">Description</label>
            </div>
          </div>

          <div class="row actions">
            <div class="col s12">
                <button class="btn btn-large waves-effect waves grey lighten-5 black-text" type="submit" name="action" [disabled]="!isSubmitEnabled()">Update</button>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row actions">
            <div class="col s12">
              <button class="btn btn-large waves-effect waves-light red accent-1 black-text" type="button" name="action" (click)="deleteConfirmModal.openModal()" [disabled]="!isSubmitEnabled()">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

  <mz-modal #deleteConfirmModal [options]="{dismissible: false}">
    <mz-modal-header>
      <h4>Confirm user delete</h4>
    </mz-modal-header>
    <mz-modal-content>
      Please provide your user email to confirm deletion:
      <input id="deleteEmail" name="deleteEmail" type="email" required email placeholder="Email" [(ngModel)]="confimationDeleteEmail">
    </mz-modal-content>
    <mz-modal-footer>
      <button class="btn waves-effect waves-light red accent-1 black-text" type="button" name="action" (click)="deleteConfirmModal.closeModal(); delete()" [disabled]="!isUserDeletionEnabled()">Delete</button>
      <button class="btn waves-effect waves grey lighten-5 black-text" type="button" name="action" (click)="deleteConfirmModal.closeModal()">Cancel</button>
    </mz-modal-footer>
  </mz-modal>
</div>
