<div class="container">
  <div class="row">

    <div class="col m4 offset-m4">
      <h2 class="center-align">Accessing...</h2>
      <div class="row center-align" >
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
