<div class="container">
  <div class="row">
    <div class="col m4 offset-m4">
      <h2 class="center-align">Register</h2>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="col m12">
              <p class="right-align">
                <button class="btn btn-large waves-effect waves-light" type="button" name="action">Login</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
