<div class="multi-progress-bar">
  <div *ngIf="tasksProgress.submitted" class="segment submitted" [style.flexGrow]="tasksProgress.submitted">
    <span class="figure">{{tasksProgress.submitted}}</span> <span *ngIf="getPercentage(tasksProgress.submitted) > 10" class="label"> submitted</span>
  </div>
  <div *ngIf="tasksProgress.pending" class="segment pending" [style.flexGrow]="tasksProgress.pending">
    <span class="figure">{{tasksProgress.pending}}</span> <span *ngIf="getPercentage(tasksProgress.pending) > 10" class="label"> pending</span>
  </div>
  <div *ngIf="tasksProgress.running" class="segment running" [style.flexGrow]="tasksProgress.running">
    <span class="figure">{{tasksProgress.running}}</span> <span *ngIf="getPercentage(tasksProgress.running) > 10" class="label"> running</span>
  </div>
  <div *ngIf="tasksProgress.succeeded" class="segment succeeded" [style.flexGrow]="tasksProgress.succeeded">
    <span class="figure">{{tasksProgress.succeeded}}</span> <span *ngIf="getPercentage(tasksProgress.succeeded) > 10" class="label"> succeeded</span>
  </div>
  <div *ngIf="tasksProgress.cached" class="segment cached" [style.flexGrow]="tasksProgress.cached">
    <span class="figure">{{tasksProgress.cached}}</span> <span *ngIf="getPercentage(tasksProgress.cached) > 10" class="label"> cached</span>
  </div>
  <div *ngIf="tasksProgress.failed" class="segment failed" [style.flexGrow]="tasksProgress.failed">
    <span class="figure">{{tasksProgress.failed}}</span> <span *ngIf="getPercentage(tasksProgress.failed) > 10" class="label"> failed</span>
  </div>
</div>
