<div class="card">
  <div class="card-header">Aggregate stats</div>
  <div class="card-body">

    <div class="row mb-2">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4><span class="mdi mdi-wall"></span></h4>
            <div class="row">
              <div class="col text-center">
                <h4><span>{{workflow.humanizedDuration}}</span></h4>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">wall time</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4><span class="mdi mdi-desktop-classic"></span></h4>
            <div class="row">
              <div class="col text-center">
                <h4><span>{{workflow.progress.workflowProgress.totalCpuHours}} CPU hours</span></h4>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">CPU time</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4><span class="mdi mdi-memory"></span></h4>
            <div class="row">
              <div class="col text-center">
                <h4><span>{{workflow.progress.workflowProgress.totalMemoryGb}}</span></h4>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">total memory</div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4><span class="mdi mdi-harddisk"></span></h4>
            <div class="row">
              <div class="col text-center">
                <h4><span>{{workflow.progress.workflowProgress.totalDiskReadGb}}</span></h4>
              </div>
              <div class="col text-center">
                <h4><span>{{workflow.progress.workflowProgress.totalDiskWriteGb}}</span></h4>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">read</div>
              <div class="col text-center">write</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4><span class="mdi mdi-cash-multiple"></span></h4>
            <div class="row">
              <div class="col text-center">
                <h4><span>{{workflow.progress.workflowProgress.humanizedCost}}</span></h4>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">estimated cost</div>
        </div>
      </div>
    </div>

  </div>
</div>
