<div *ngIf="workflow">
  <div class="card" [ngClass]="{'started': workflow.isStarted, 'succeed': workflow.isSuccessful, 'failed': workflow.isFailed, 'partialFailed': workflow.isPartialFailed}">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h1><a class="project-name" [href]="workflow.data.repository" target="_blank">{{workflow.data.projectName}}</a></h1>
          <h2>{{workflow.data.runName}}</h2>
        </div>
        <div class="col m-auto align-middle text-right pr-5 status-icon">
          <span *ngIf="workflow.isStarted" class="spinner-border" role="status"></span>
          <span *ngIf="workflow.isCompleted" class="workflow-status mdi"
                [ngClass]="{'mdi-check-circle-outline': workflow.isSuccessful, 'mdi-alert-circle-outline': workflow.isFailed || workflow.isPartialFailed,
                            'succeed': workflow.isSuccessful, 'failed': workflow.isFailed, 'partialFailed': workflow.isPartialFailed}">
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row mb-4" *ngIf="workflow.isFailed">
        <div class="col">
          <wt-workflow-error [workflow]="workflow"></wt-workflow-error>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <wt-workflow-main-tabs [workflow]="workflow"></wt-workflow-main-tabs>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <wt-workflow-status [workflowProgressState]="workflow.progress.workflowProgress.data"></wt-workflow-status>
        </div>
        <div class="col">
          <wt-workflow-general [workflow]="workflow"></wt-workflow-general>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <wt-workflow-stats [workflow]="workflow"></wt-workflow-stats>
        </div>
        <div class="col">
          <wt-workflow-utilization [workflowProgress]="workflow.progress.workflowProgress"></wt-workflow-utilization>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <wt-workflow-load [workflow]="workflow"></wt-workflow-load>
        </div>
        <div class="col">
          <wt-tasks-processes [processesProgress]="workflow.progress.processesProgress"></wt-tasks-processes>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <wt-tasks-table [workflowId]="workflow.data.workflowId" [progress]="workflow.progress"></wt-tasks-table>
        </div>
      </div>
      <div class="row" *ngIf="workflow.isCompleted">
        <div class="col">
          <wt-workflow-metrics></wt-workflow-metrics>
        </div>
      </div>
    </div>
  </div>

</div>
