@import "~src/assets/variables";


.tw-workflow > .card {
  border-top: solid 7px;
  border-radius: 2px;
  border-left: 0;
  border-right: 0;

  &.started {
    border-top-color: $started-blue;
  }

  &.succeed {
    border-top-color: $succeed-green;
  }

  &.failed {
    border-top-color: $failed-red;
  }

  &.partialFailed {
    border-top-color: $partialFailed-orange;
  }

}

.status-icon {
  font-size: 3.5rem;
}


.spinner-border {
  color: $started-blue;
  font-size: 5px;
  width: 2.9rem;
  height: 2.9rem;
}


.workflow-status {
  vertical-align: text-top;

  &.succeed {
    color: $succeed-green;
  }

  &.failed {
    color: $failed-red;
  }

  &.partialFailed {
    color: $partialFailed-orange;
  }
}

.project-name {
  color: black;
}

.project-name:hover {
  text-decoration: underline;
}

.error-report {
  padding: 15px;
  white-space: pre-wrap;
  background-color: #fdddcf;
}
