<div *ngIf="workflow" class="tw-workflow">
  <div class="card" [ngClass]="{'running': workflow.isRunning, 'succeed': workflow.isSuccessful, 'failed': workflow.isFailed, 'partialFailed': workflow.isPartialFailed}">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h1>
            <ng-container *ngIf="workflow.data.repository!=null; else noLink">
              <a class="project-name" [href]="workflow.data.repository" target="_blank">{{workflow.data.projectName}}</a>
            </ng-container>
            <ng-template #noLink>
              <span >{{workflow.data.projectName}}</span>
            </ng-template>
          </h1>
          <h2>{{workflow.data.runName}}</h2>
        </div>
        <wt-workflow-status-icon [workflow]="workflow"></wt-workflow-status-icon>
      </div>
    </div>
    <div class="card-body">
      <div class="mb-4" *ngIf="workflow.isFailed">
        <wt-workflow-error [workflow]="workflow"></wt-workflow-error>
      </div>
      <div class="mb-4">
        <wt-workflow-main-tabs [workflow]="workflow"></wt-workflow-main-tabs>
      </div>

      <!-- general info + status boxes -->
      <div class="row mb-3">
        <div class="col-md-6">
          <wt-workflow-general [workflow]="workflow"></wt-workflow-general>
        </div>
        <div class="col-md-6">
          <wt-workflow-status [progressState]="workflow.progress.workflowProgress.data"></wt-workflow-status>
        </div>
      </div>

      <!-- processes + aggregate stats -->
      <div class="row mb-3">
        <div class="col-md-6">
          <wt-tasks-processes [processesProgress]="workflow.progress.processesProgress"></wt-tasks-processes>
        </div>
        <div class="col-md-6">
          <wt-workflow-stats [workflow]="workflow"></wt-workflow-stats>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <wt-workflow-load [workflowProgress]="workflow.progress.workflowProgress"></wt-workflow-load>
        </div>
        <div class="col-md-6">
          <wt-workflow-utilization [workflowProgress]="workflow.progress.workflowProgress"></wt-workflow-utilization>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md">
          <wt-tasks-table [workflowId]="workflow.id" [progress]="workflow.progress"></wt-tasks-table>
        </div>
      </div>
      <div *ngIf="workflow.isCompleted">
        <wt-workflow-metrics></wt-workflow-metrics>
      </div>
    </div>
  </div>

</div>
