@import "~src/assets/variables";


.tw-workflow > .card {
  border-top: solid 7px;
  border-radius: 2px;
  border-left: 0;
  border-right: 0;

  &.running {
    border-top-color: $running-blue;
  }

  &.succeed {
    border-top-color: $succeed-green;
  }

  &.failed {
    border-top-color: $failed-red;
  }

  &.partialFailed {
    border-top-color: $partialFailed-orange;
  }

}

.project-name {
  color: black;
}

.project-name:hover {
  text-decoration: underline;
}

.error-report {
  padding: 15px;
  white-space: pre-wrap;
  background-color: #fdddcf;
}
