@import "~src/assets/variables";

.multi-progress-bar {
  width: 100%;
  height: 36px;
  display: flex;

  border: 1px solid $thin-grey;
  border-radius: 5px;
  overflow: hidden;
}

.segment {
  padding: 10px 0 10px 8px;
  color: white;
  transition: flex-grow .6s ease;

  .figure {
    font-weight: bolder;
    font-size: 1.1em;
  }

  &.running {
    background-color: $started-blue;
  }

  &.submitted {
    background-color: $submitted-orange;
  }

  &.failed {
    background-color: $failed-red;
  }

  &.pending {
    background-color: $pending-purple;
  }

  &.succeeded {
    background-color: $succeed-green;
  }

  &.cached {
    background-color: $cached-grey;
  }
}


