<div class="editor-wrapper">
  <quill-editor [(ngModel)]="html"
                [formControl]="htmlFC"
                [placeholder]="'Write a comment'"
                [required]="true"
                [minLength]="5"
                (onContentChanged)="onEditText($event)">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
      </span>
    </div>
  </quill-editor>
  <p class="error"
     *ngIf="htmlFC.invalid && htmlFC.touched || showError">
    * The message must contain more than 5 symbols and less 2048 symbols
  </p>
</div>
