<div class="card">
  <div class="card-header pb-0 border-bottom-0">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="commandLine-tab" data-toggle="tab" href="#commandLine" role="tab" aria-controls="commandLine">Command line</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="parameters-tab" data-toggle="tab" href="#parameters" role="tab" aria-controls="parameters">Parameters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="configuration-tab" data-toggle="tab" href="#configuration" role="tab" aria-controls="configuration">Configuration</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="commandLine" role="tabpanel" aria-labelledby="processes-tab">
        <pre class="command-line-box"><code [highlight]="commandLine"></code></pre>
      </div>
      <div class="tab-pane fade" id="parameters" role="tabpanel" aria-labelledby="params-tab">
        <wt-tree-list [workflow]="workflow" > </wt-tree-list>
      </div>
      <div class="tab-pane fade" id="configuration" role="tabpanel" aria-labelledby="configuration-tab">
        <h5>Configuration files</h5>
        <ul class="list-unstyled mt-2">
          <li *ngFor="let cfg of workflow.data.configFiles" class="mb-2"><samp>{{cfg}}</samp></li>
        </ul>

        <h5>Resolved configuration</h5>
        <pre class="tab-config"><code [highlight]="resolved_config"></code></pre>
      </div>
    </div>
  </div>
</div>
