.tab-pane {
  min-height: 100px;
}

.command-line {
  display: inline-block;
  width: 100%;
  min-height: 100px;
  white-space: pre-wrap;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #F0F2F4;
  font-size: 0.9rem;
}
