<div class="card">
  <div class="card-header pb-0 border-bottom-0">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="commandLine-tab" data-toggle="tab" href="#commandLine" role="tab"
           aria-controls="commandLine">Command line</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="parameters-tab" data-toggle="tab" href="#parameters" role="tab"
           aria-controls="parameters">Parameters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="configuration-tab" data-toggle="tab" href="#configuration" role="tab"
           aria-controls="configuration">Configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
           aria-controls="configuration">Comments</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="commandLine" role="tabpanel" aria-labelledby="processes-tab">
        <div class="container h-100 command-line-box">
          <div class="tab-max-height">{{workflow.data.commandLine}}</div>
        </div>
      </div>
      <div class="tab-pane fade" id="parameters" role="tabpanel" aria-labelledby="params-tab">
        <div class="container">
          <div class="tab-max-height">
            <wt-tree-list [workflow]="workflow"></wt-tree-list>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="configuration" role="tabpanel" aria-labelledby="configuration-tab">
        <div class="container">
          <h5>Configuration files</h5>
          <div class="pt-2 pb-2">
            <ul>
              <li *ngFor="let cfg of workflow.data.configFiles">{{cfg}}</li>
            </ul>
          </div>

          <h5>Resolved configuration</h5>
          <div class="tab-config tab-max-height">
            <pre class="tab-config">{{workflow.data.configText ? workflow.data.configText : 'n/a'}}</pre>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        <div class="row bootstrap snippets">
          <div class="col-md-8 col-md-offset-2 col-sm-9">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                <div class="panel-body">
                  <ul class="media-list">
                    <li *ngFor="let comment of allComments">
                      <wt-comment [comment]="comment"
                                  [workflow]="workflow"
                                  [allComments]="allComments"
                                  (editCommentOut)="editWorkflowComment($event)"
                                  (deleteCommentOut)="commentForDelete = $event">
                      </wt-comment>
                    </li>
                  </ul>
                  <div class="textarea-wrapper">
                    <a href="#" class="comment-avatar">
                      <img alt="avatar"
                           class="thumbnail rounded-circle"
                           [src]="getUserAvatar()">
                    </a>
                    <div class="textarea-wrapper-field">
                      <span class="error"
                            *ngIf="commentTextFormControl.invalid && commentTextFormControl.touched">
                      *The message must contain more than 5 symbols and less 2048 symbols
                    </span>
                      <textarea rows="3"
                                class="form-control"
                                placeholder="Write a comment..."
                                [formControl]="commentTextFormControl">
                    </textarea>
                    </div>
                  </div>
                  <div class="block-for-comment-btn">
                    <button type="button"
                            class="btn btn-primary pull-right"
                            (click)="postWorkflowComment()">
                      Post
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deleting comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want delete this comment?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteWorkflowComment()">Delete
        </button>
      </div>
    </div>
  </div>
</div>
