<div class="card">
  <div class="card-header pb-0 border-bottom-0">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link active" id="commandLine-tab" data-toggle="tab" href="#commandLine" role="tab" aria-controls="commandLine">Command line</a>
      </li>
      <li *ngIf="workflow.isFailed" class="nav-item">
        <a class="nav-link" id="error-tab" data-toggle="tab" href="#error" role="tab" aria-controls="error">Error</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="parameters-tab" data-toggle="tab" href="#parameters" role="tab" aria-controls="parameters">Parameters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="configuration-tab" data-toggle="tab" href="#configuration" role="tab" aria-controls="configuration">Configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes">Notes</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="commandLine" role="tabpanel" aria-labelledby="processes-tab">
        <code class="text-dark">{{workflow.data.commandLine}}</code>
      </div>
      <div *ngIf="workflow.isFailed" class="tab-pane fade" id="error" role="tabpanel" aria-labelledby="error-tab">
        <code class="text-dark">{{workflow.data.errorReport}}</code>
      </div>
      <div class="tab-pane fade" id="parameters" role="tabpanel" aria-labelledby="params-tab">
        <code class="text-dark">{{workflow.data.params ? workflow.params : 'No params'}}</code>
      </div>
      <div class="tab-pane fade" id="configuration" role="tabpanel" aria-labelledby="configuration-tab">
        <code class="text-dark">{{workflow.data.configFiles ? workflow.data.configFiles : 'No config'}}</code>
      </div>
      <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
        ...
      </div>
    </div>
  </div>
</div>
