<div class="container mt-5 w-75">

  <div class="card">
    <div class="card-header">
      Get started
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome in Nextflow Tower</h5>
      <p class="card-text">
        Nextflow Tower allows you to monitor the execution of any of your Nextflow data analysis pipelines.
      </p>

      <div class='bd-callout bd-callout-success'>
        <h5>1. Download latest version of Nextflow</h5>
          <p>
          Download latest Nextflow from <a href="http://www2.nextflow.io.s3.amazonaws.com/tmp/nextflow-19.05.10-TOWER-all">this link</a>.
          Rename it as `nextflow` and give it execute permission as shown below:
          </p>
          <pre class="p-3 bg-light text-dark">chmod +x nextflow</pre>
      </div>

      <div class='bd-callout bd-callout-success'>
      <h5>2. Set the access token</h5>
        <p>
        Define the following environment variable in your environment:
        </p>
        <pre class="p-3 bg-light text-dark">export TOWER_ACCESS_TOKEN={{user.data.nfAccessToken}}</pre>
      </div>

      <div class='bd-callout bd-callout-success'>
        <h5>3. Run Nextflow</h5>
        <p>
          Launch nextflow as usual adding the -with-tower command line option:
        </p>
        <pre class="p-3 bg-light text-dark">./nextflow run hello -with-tower</pre>
      </div>

      <div class='bd-callout bd-callout-success'>
        <h5>Enjoy it</h5>
        <p>
          The pipeline execution will popup here!
        </p>
      </div>


    </div>
  </div>
  
</div>
