@import "../../../../../assets/variables";

.profile-item {
  padding-left: 60px;
}

.profile-card {
  left: initial;
  right: 0;
}

.thumbnail {
  width: 3rem;
  height: 3rem;
  object-fit: cover;

  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
