@import "../../../../../assets/variables";

.profile-card {
  left: initial;
  right: 0;
}

.thumbnail {
  max-height: 30px;
  max-width: 30px;
}

@media (max-width: 576px){
  .profile-item #user-dropdown {
    display: none;
  }
  .profile-item .profile-card {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
