@import "./src/assets/variables";

.mdi-check-circle-outline {
  color: $succeed-green;
}

.mdi-alert-circle-outline {
  color: $failed-red
}

.project-name {
  color: black;
}

.project-name:hover {
  text-decoration: underline;
}

.command-line {
  background: lightgrey;
  padding: 5px 0 30px;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top: 2px solid $started-blue;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

