<div *ngIf="workflow">
  <h4>
    <a [href]="workflow.data.repository" target="_blank">{{workflow.data.projectName}}</a>&nbsp;
    <span [ngClass]="{'spinner': workflow.isStarted, 'mdi': (workflow.isCompleted), 'mdi-check-circle-outline': workflow.isSuccessful, 'mdi-alert-circle-outline': workflow.isFailed}"></span>
  </h4>

  <h5><span class="mdi mdi-run"></span>{{workflow.data.runName}}</h5>

  <div class="row">
    <div class="col s6 mdi mdi-source-commit"> {{workflow.data.revision}} ({{workflow.briefCommitId}})</div>
    <div class="col s6 mdi mdi-calendar"> Started: {{workflow.getWorkflowStartDateFormatted('ddd MMM D YYYY hh:mm:ss')}}</div>
  </div>
  <div class="row">
    <div class="col s6 mdi mdi-restore-clock"> {{workflow.data.sessionId}}</div>
    <div class="col s6 mdi mdi-wall"> Running for: {{workflow.humanizedDuration}}</div>
  </div>
  <div class="row">
    <div class="col s6 mdi mdi-server"> {{workflow.data.workDir}}</div>
    <div class="col s6 mdi mdi-desktop-classic"> CPU time: {{workflow.data.stats?.computeTimeFmt ? workflow.data.stats.computeTimeFmt : 'unknown'}}</div>
  </div>
  <div class="row">
    <div class="col s6 mdi mdi-docker"> {{workflow.data.container}} ({{workflow.data.containerEngine ? workflow.data.containerEngine : 'unknown'}})</div>
    <div class="col s6 mdi mdi-account"> {{workflow.data.userName}}</div>
  </div>

  <div class="row">
    <div class="col s12">
      <p>Command line<p>
      <code class="col s12 command-line">{{workflow.data.commandLine}}</code>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <wt-multicolored-progress-bar [progress]="workflow.progress"></wt-multicolored-progress-bar>
    </div>
  </div>
</div>

