@import "./src/assets/variables";

.mdi-check-circle-outline {
  color: $succeed-green;
}

.mdi-alert-circle-outline {
  color: $failed-red
}

.project-name {
  color: black;
}

.project-name:hover {
  text-decoration: underline;
}

.command-line {
  background: lightgrey;
  padding: 5px 0 30px;
}

.error-report {
  padding: 15px;
  white-space: pre-wrap;
  background-color: #fdddcf;
}
