@import "./src/assets/variables";

.spinner-border {
  color: $started-blue;
  font-size: 5px;
  vertical-align: middle;
}


.workflow-status {
  vertical-align: text-top;

  &.succeed {
    color: $succeed-green;
  }

  &.failed {
    color: $failed-red;
  }

  &.partialFailed {
    color: $partialFailed-orange;
  }
}

.project-name {
  color: black;
}

.project-name:hover {
  text-decoration: underline;
}

.error-report {
  padding: 15px;
  white-space: pre-wrap;
  background-color: #fdddcf;
}

.command-line {
  display: inline-block;
  width: 100%;
  min-height: 100px;
  white-space: pre-wrap;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #F0F2F4;
  font-size: 0.9rem;
}
