/* You can add global styles to this file, and also import other style files */

$running-blue: #199fdb;
$succeed-green: #28ae61;
$failed-red: #e7363e;
$aborted-red: #e7363e;
$partialFailed-orange: darkOrange;
$cached-grey: #939598;
$pending-purple: #8f4199;
$submitted-orange: #f57f27;
$thin-grey: #dee2e6;

$body-background: #f8f9fa;
$sidebar-width: 22rem;
$sidebar-background: #f8f9fa;
$sidebar-border: 1px solid $thin-grey;

$navbar-height: 64px;
$font-size-root: 0.90rem;
