<div class="card">
  <div class="card-header">Metrics</div>
  <div class="card-body">

      <h2 id="resources" style="padding-top: 80px;">Resource Usage</h2>
      <p>These plots give an overview of the distribution of resource usage for each process.</p>

      <h4>CPU</h4>
      <ul class="nav nav-tabs" id="cpuplot_tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="cpuplot_tablink" data-toggle="tab" href="#cpuplot_tabpanel" role="tab"
             aria-controls="pctcpuplot_tabpanel" aria-expanded="false">
            Raw Usage
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pctcpuplot_tablink" data-toggle="tab" href="#pctcpuplot_tabpanel" role="tab"
             aria-controls="cpuplot_tabpanel" aria-expanded="true">
            % Allocated
          </a>
        </li>
      </ul>
      <div class="tab-content" id="cpuplot_tabcontent">
        <div class="tab-pane fade show active" id="cpuplot_tabpanel" role="tabpanel">
          <div id="cpuplot"></div>
        </div>
        <div class="tab-pane fade" id="pctcpuplot_tabpanel" role="tabpanel">
          <div id="pctcpuplot"></div>
        </div>

      </div>

      <h4>Memory</h4>
      <ul class="nav nav-tabs" id="memplot_tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="memplotlot_tablink" data-toggle="tab" href="#memplotlot_tabpanel" role="tab"
             aria-controls="memplotlot_tabpanel" aria-expanded="false">
            Physical (RAM)
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="vmemplot_tablink" data-toggle="tab" href="#vmemplot_tabpanel" role="tab"
             aria-controls="vmemplot_tabpanel" aria-expanded="true">
            Virtual (RAM + Disk swap)
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pctmemplot_tablink" data-toggle="tab" href="#pctmemplot_tabpanel" role="tab"
             aria-controls="pctmemplot_tabpanel" aria-expanded="true">
            % RAM Allocated
          </a>
        </li>
      </ul>
      <div class="tab-content" id="memplot_tabcontent">
        <div class="tab-pane fade show active" id="memplotlot_tabpanel" role="tabpanel">
          <div id="memplot"></div>
        </div>
        <div class="tab-pane fade" id="pctmemplot_tabpanel" role="tabpanel">
          <div id="pctmemplot"></div>
        </div>
        <div class="tab-pane fade" id="vmemplot_tabpanel" role="tabpanel">
          <div id="vmemplot"></div>
        </div>
      </div>

      <h4 id="timeplot_header">Job Duration</h4>
      <ul class="nav nav-tabs" id="timeplot_tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="timeplot_tablink" data-toggle="tab" href="#timeplot_tabpanel" role="tab"
             aria-controls="timeplot_tabpanel" aria-expanded="false">
            Raw Usage
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pcttimeplot_tablink" data-toggle="tab" href="#pcttimeplot_tabpanel" role="tab"
             aria-controls="pcttimeplot_tabpanel" aria-expanded="true">
            % Allocated
          </a>
        </li>
      </ul>
      <div class="tab-content" id="timeplot_tabcontent">
        <div class="tab-pane fade show active" id="timeplot_tabpanel" role="tabpanel">
          <div id="timeplot"></div>
        </div>
        <div class="tab-pane fade" id="pcttimeplot_tabpanel" role="tabpanel">
          <div id="pcttimeplot"></div>
        </div>
      </div>

      <h4 id="readwriteplot_header">I/O</h4>
      <ul class="nav nav-tabs" id="readwriteplot_tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="readplot_tablink" data-toggle="tab" href="#readplot_tabpanel" role="tab"
             aria-controls="readplot_tabpanel" aria-expanded="true">
            Read
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="writeplot_tablink" data-toggle="tab" href="#writeplot_tabpanel" role="tab"
             aria-controls="writeplot_tabpanel" aria-expanded="false">
            Write
          </a>
        </li>
      </ul>
      <div class="tab-content" id="readwriteplot_tabcontent">
        <div class="tab-pane fade show active" id="readplot_tabpanel" role="tabpanel">
          <div id="readplot"></div>
        </div>
        <div class="tab-pane fade" id="writeplot_tabpanel" role="tabpanel">
          <div id="writeplot"></div>
        </div>
      </div>
    </div>
  </div>
