tower:
    appName: "${TOWER_APP_NAME:Nextflow Tower}"
    serverUrl: "${TOWER_SERVER_URL:`http://localhost:8000`}"
    contactEmail: "${TOWER_CONTACT_EMAIL:hello@tower.nf}"
    trustedEmails:
      - '*@seqera.io'
---
micronaut:
  application:
    name: tower-backend
  server:
    port: 8080
    netty:
  caches:
    rate-limiter:
      expire-after-access: 10m
  security:
    enabled: true
    endpoints:
      login:
        enabled: true
      oauth:
        enabled: true
    token:
      jwt:
        enabled: true
        signatures:
          secret:
            generator:
              secret: pleaseChangeThisSecretForANewOne
        generator:
          access-token-expiration: 3600
---
jackson:
  serialization:
    writeDatesAsTimestamps: false
  deserialization:
    adjustDatesToContextTimeZone: false
  serialization-inclusion: ALWAYS
# ^^^^^^
# Use this to avoid empty lists are stripped
# See com.fasterxml.jackson.annotation.JsonInclude.Include.*
#
---
dataSource:
  pooled: true
  dbCreate: "${TOWER_DB_CREATE:`update`}"
  url: "${TOWER_DB_URL:`jdbc:h2:file:./.db/h2/tower`}"
  driverClassName: "${TOWER_DB_DRIVER:`org.h2.Driver`}"
  username: "${TOWER_DB_USER:`sa`}"
  password: "${TOWER_DB_PASSWORD:``}"
hibernate:
  cache:
    queries: false
    use_second_level_cache: false
    use_query_cache: false
  dialect: "${TOWER_DB_DIALECT:org.hibernate.dialect.H2Dialect}"
  naming_strategy: io.seqera.util.H8NamingStrategy
grails:
  gorm:
    failOnError: false
---
mail:
  from: "${TOWER_CONTACT_EMAIL:hello@tower.nf}"
  smtp:
    host: "${TOWER_SMTP_HOST:email-smtp.eu-west-1.amazonaws.com}"
    port: "${TOWER_SMTP_PORT:587}"
    auth: "${TOWER_SMTP_AUTH:true}"
    user: "${TOWER_SMTP_USER}"
    password: "${TOWER_SMTP_PASSWORD}"
    starttls:
      enable: true
      required: true
---
sse:
  buffer:
    time: 1s
    count: 100
---
endpoints:
  bean:
    enabled: true
  info:
    enabled: true
  metrics:
    enabled: true
  caches:
    enabled: true
  refresh:
    enabled: true
  health:
    disk-space:
      enabled: true
      path: '/'
      threshold: '500MB'
    jdbc:
      enabled: true

