@import "~src/assets/variables";

.progress-wrapper {
  padding-top: 4px;
}

.progress {
  height: 6px;

  .submitted {
    background-color: $clr-submitted;
  }

  .pending {
    background-color: $clr-pending;
  }

  .running {
    background-color: $clr-running;
  }

  .cached {
    background-color: $clr-cached;
  }

  .succeeded {
    background-color: $clr-succeed;
  }

  .failed {
    background-color: $clr-failed;
  }

}

.row.process-metrics {
  text-align: right;

  .process-name {
    text-align: left;
    font-size: 1.1em;
  }
}


