@import "./src/assets/variables";

.tasks-completed {
  background-color: $succeed-green;
}

.tasks-running {
  background-color: $started-blue;
}

.row.process-summary {
  text-align: right;

  .process-name {
    text-align: left;
    font-size: 1.1em;
  }

}

.progress-thin {
  height: 6px;
}


