@import "~src/assets/variables";

.progress-wrapper {
  padding-top: 4px;
}

.progress {
  height: 6px;

  .submitted {
    background-color: $submitted-orange;
  }

  .pending {
    background-color: $pending-purple;
  }

  .running {
    background-color: $running-blue;
  }

  .cached {
    background-color: $cached-grey;
  }

  .succeeded {
    background-color: $succeed-green;
  }

  .failed {
    background-color: $failed-red;
  }

}

.row.process-metrics {
  text-align: right;

  .process-name {
    text-align: left;
    font-size: 1.1em;
  }
}


