<div class="card">
  <div class="card-header">Processes</div>
  <div class="card-body">

    <div class="row mb-3" *ngFor="let processProgress of processesProgress">
      <div class="col-sm">
        <div class="row mb-0 process-metrics">
          <div class="col-sm process-name">
            {{processProgress.process}}
          </div>
          <div class="col-sm progress-label">
            {{processProgress.data.succeeded}} of {{processProgress.total}}
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar"
               *ngFor="let status of statusesTags"
               [style.width]="computePercentageProcessTasks(processProgress, status)"
               [ngClass]="status"
          >
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




