<div class="row mt-2 ml-2">
  <div class="topics">
    <div class="topics-view" *ngIf="!showForm">
      <a href="#" *ngFor="let topic of topics">{{topic.text}}</a>
      <a class="manage-topics" (click)="showFormTopics()">Manage topics</a>
    </div>
    <div class="topics-edit" *ngIf="showForm">
      <p class="topics-edit-title">Add topics</p>
      <form class="topics-edit-form" [formGroup]="formTopics" (ngSubmit)="saveTopics()">
        <div class="topics-fake-input" (click)="closeAutocompleteInput($event)">
          <ul class="topics-list">
            <li *ngFor="let topic of editingTopics">
              {{topic.text}}
              <button type="button" class="topics-btn-delete" (click)="deleteTopic($event, topic)">x</button>
            </li>
            <li class="input">
              <div class="ng-autocomplete">
                <ng-autocomplete
                  #inputAutocomplete
                  placeHolder="Enter the topic"
                  [data]="data"
                  formControlName="topicText"
                  (keydown.enter)="addTag($event)"
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </li>
          </ul>
        </div>
        <button type="submit" class="btn-done">Done</button>
      </form>
    </div>
  </div>
</div>
