@import "~src/assets/variables";


.badge.label {
  font-size: 1rem;
  background-color: $tag-lightGrey;

  .text {
    cursor: text;
    display: inline-block;
    min-width: 1.3rem;
  }

  .close {
    font-size: inherit;
    padding-left: 10px;
    cursor: pointer;
  }
}

button.new {
  font-size: 1rem;
}

.badge.invalid {
  border: 2px solid red;
}

