@import "./src/assets/variables";

.tasks-completed {
  background-color: $succeed-green;
}

.tasks-running {
  background-color: $started-blue;
}

.row.process-summary {
  //font-size: 1.1em;
  text-align: right;

  .proccess-name {
    text-align: left;
    font-size: 1.1em;
  }
}



