<mz-dropdown *ngIf="isUserLoggedIn"
  [id]="'dropdown-profile'" [belowOrigin]="true" [constrainWidth]="false" [dropdownButtonId]="'dropdown-profile-section'" [inDuration]="0" [outDuration]="0"
>
  <mz-dropdown-item>
    <a href="#!">Logout</a>
  </mz-dropdown-item>
</mz-dropdown>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">{{title}}</a>
    <ul class="right hide-on-med-and-down links">
      <li><a href="/">Docs</a></li>
      <li><a href="/">Support</a></li>
      <li *ngIf="isUserLoggedIn" class="profile-link">
        <a id="dropdown-profile-section" class="dropdown-trigger" href="#!" data-target="dropdown-profile">
            <img alt="avatar" class="circle" [src]="userAvatar">
        </a>
      </li>
    </ul>
  </div>
</nav>
