<mz-dropdown *ngIf="user"
  [id]="'dropdown-profile'" [belowOrigin]="true" [constrainWidth]="false" [dropdownButtonId]="'dropdown-profile-section'" [inDuration]="0" [outDuration]="0"
>
  <mz-dropdown-item>
    <wt-user-detail [user]="user"></wt-user-detail>
  </mz-dropdown-item>
</mz-dropdown>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">{{title}}</a>
    <ul class="right hide-on-med-and-down links">
      <li><a href="/">Docs</a></li>
      <li><a href="/">Support</a></li>

      <li *ngIf="!user"><a href="/login">Sign in</a></li>
      <li *ngIf="user" class="profile-link">
        <a id="dropdown-profile-section" class="dropdown-trigger" data-target="dropdown-profile">
            <img alt="avatar" class="circle thumbnail" [src]="user.avatar">
        </a>
      </li>
    </ul>
  </div>
</nav>
