<div class="card mb-3">
  <div class="card-header">General</div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li><span class="mr-3 mdi mdi-24px mdi-calendar"></span> {{workflow.startDateFormatted}}</li>
      <li><span class="mr-3 mdi mdi-24px mdi-source-commit"></span> {{workflow.humanizedRevision}}</li>
      <li><span class="mr-3 mdi mdi-24px mdi-restore-clock"></span> {{workflow.data.sessionId}}</li>
      <li><span class="mr-3 mdi mdi-24px mdi-account"></span> {{workflow.data.userName}}</li>
      <li><span class="mr-3 mdi mdi-24px mdi-server"></span> {{workflow.data.workDir}}</li>
      <li><span class="mr-3 mdi mdi-24px mdi-docker"></span> {{workflow.humanizedContainer}}</li>
      <li><span><img src="assets/nextflow-icon-128x128.svg"></span> {{workflow.data.manifest.nextflowVersion || '-'}}</li>
    </ul>
  </div>
</div>
