ul li {
    max-width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    align-items: center;

  span {
    width: 24px;
    height: 36px;
    display: flex;
    align-items: center;
    margin-right: 13px;

    img {
      width: 22px;
      height: 22px;
      opacity: .8;
    }
  }
}
